/log/
*~
.DS_Store
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
gradle.properties
gradlew
gradlew.bat
__pycache__/
.idea/hkbn.iml
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
/server/app/storage/
/server/static/task_report/

