airtest>=1.2.14
pocoui>=1.0.89
opencv-python>=4.8.0
python-dotenv>=1.0.0
pytest>=7.4.0
pyyaml>=6.0.1
Flask>=2.2.0
flask-cors>=4.0.0
requests>=2.28.0
tenacity>=8.2.0
adbutils>=1.2.0
facebook-wda>=1.4.0
